$main-text-color: #FACB46;
$ligth-text-color: #FFF;
$white-text-color: #FBFBFB;
$bright-btn-color: #81F128;
$main-font-family: "Movavi Grotesque";
$spare-font-family: Lato;
$border-btn-color: #7DD0FF;